﻿@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Movies..am..App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-func.js"></script>
    <!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
        <table>
            <tr>
                <div id="header">
                    <h1 id="logo"><a href="#">Movies..am..App</a></h1>
                    <div class="social">
                        <span>FOLLOW US ON:</span>
                        <ul>
                            <li><a class="twitter" href="#">twitter</a></li>
                            <li><a class="facebook" href="#">facebook</a></li>
                            <li><a class="vimeo" href="#">vimeo</a></li>
                            <li><a class="rss" href="#">rss</a></li>
                        </ul>
                    </div>
            </tr>
            <tr>
                <div id="navigation">
                    <ul>
                        <li><a class="active" href="#">HOME</a></li>
                        <li><a href="#">NEWS</a></li>
                        <li><a href="#">IN THEATERS</a></li>
                        <li><a href="#">COMING SOON</a></li>
                        <li><a href=@RedirectToActionResult()>CONTACT</a></li>
                        <li><a href="#">ADVERTISE</a></li>
                    </ul>
                </div>
                </tr>
             <tr>

                @RenderBody()
            </tr>
        <tr>
            <div id="footer"
            <div style="clear:both;"></div>
        </div>
        </tr>
            </table>
        </div>
        <!-- END PAGE SOURCE -->
</body>
</html>